/////////////////////////////////////////////////////////以下為demo範例///
// 特殊區塊設定
[class^="col"] {
    .btn_grp {
        padding: 0;
        .btn {
            margin-top: 0;
        }
        @include screen('xs_mobile') {
            max-width: 100%;
            width: 100%;
            .btn {
                max-width: 100%;
                width: 100%;
            }
        }
    }
}
.form_6_6 {
    width: auto !important;
    .btn_grp {
        clear: both;
    }
    .form_grp {
        width: 48%;
        float: none;
        display: inline-block;
        vertical-align: top;
        max-width: 100em;
        border-bottom: none !important;
        .form_title {
            width: 100px;
            font-weight: bold;
            @include screen('mobile') {
                width: 100%;
            }
        }
        .form_content {
            width: calc(100% - 110px);
            float: right;
            @include screen('mobile') {
                width: 100%;
            }
        }
        &:nth-child(odd):last-child {
            width: 100% !important;
            float: none;
        }
    }
}
// 可用class個別命名
// 單欄滿版
.full {
    .container {
        max-width: 100% !important;
    }
}
// 單欄
.col-12 {}
// 兩欄 6-6
.col-6-6 {
    .col {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(6);
    }
}
// 三欄 4-4-4
.col-4-4-4 {
    .col {
        @include make-xs-column(12);
        @include make-sm-column(4);
        @include make-md-column(4);
        @include make-lg-column(4);
    }
}
// 四欄 3-3-3
.col-3-3-3-3 {
    .col {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(3);
        @include make-lg-column(3);
    }
}
// 雙欄 8-4
.col-8-4 {
    .col {
        @include make-xs-column(12);
        @include make-sm-column(4);
        @include make-md-column(4);
        @include make-lg-column(4);
    }
    .col:nth-child(odd) {
        @include make-xs-column(12);
        @include make-sm-column(8);
        @include make-md-column(8);
        @include make-lg-column(8);
    }
}
// 雙欄 4-8
.col-4-8 {
    .col {
        @include make-xs-column(12);
        @include make-sm-column(8);
        @include make-md-column(8);
        @include make-lg-column(8);
    }
    .col:nth-child(odd) {
        @include make-xs-column(12);
        @include make-sm-column(4);
        @include make-md-column(4);
        @include make-lg-column(4);
    }
}
// 六欄 2-2-2-2-2-2
.col-2-2-2-2-2-2 {
    .col {
        @include make-xs-column(6);
        @include make-sm-column(2);
        @include make-md-column(2);
        @include make-lg-column(2);
    }
}
// 進階設定：自行命名
.cssname {
    .news {
        @include make-xs-column(12);
        @include make-sm-column(8);
        @include make-md-column(8);
        @include make-lg-column(8);
    }
    .video {
        @include make-xs-column(12);
        @include make-sm-column(4);
        @include make-md-column(4);
        @include make-lg-column(4);
    }
}
// 進階設定：非均等欄位
.col-3-6-3 {
    .col {
        @include make-xs-column(12);
        @include make-sm-column(3);
        @include make-md-column(3);
        @include make-lg-column(3);
        &:nth-child(2) {
            @include make-xs-column(12);
            @include make-sm-column(6);
            @include make-md-column(6);
            @include make-lg-column(6);
        }
    }
}
// 進階設定：五欄
.col-5 {
    .col {
        @include make-xs-column(12);
        @include make-sm-column(2);
        @include make-md-column(2);
        @include make-lg-column(2);
        &:first-child {
            @include make-xs-column-offset(0);
            @include make-sm-column-offset(1);
            @include make-md-column-offset(1);
            @include make-lg-column-offset(1);
        }
    }
}
