.modal {
    position: fixed;
    display: none;
    width: 80%;
    height: 80%;
    background: #FFF;
    z-index: 99999999;
    top: 10%;
    left: 50%;
    margin-left: -40%;
    padding: 1em 1em 1em;
    @include box-sizing;
    @include border-radius(8px);
    @include box-shadow(1px 1px 35px -10px RGBA(0, 0, 0, .75));
    // animation: scaleUp .3s ease-out;
    h2 {
        border-bottom: 1px solid $primaryColor;
        padding-bottom: .5em;
        margin-bottom: .1em;
        margin-top: 0;
    }
    .close {
        position: absolute;
        top: -35px;
        right: 5px;
        width:30px !important;
        min-width: auto;
        height:30px;
        font-size: 0em;
        border: none;
        display: block;
        padding: 0;
        background: url(../images/basic/icon_close.svg) no-repeat center center;
        background-size:contain;
        filter:brightness(30);
        filter: invert(70%);
        &:hover, &:focus {
            cursor: pointer;
            border:none !important;
            filter: invert(100%);
            filter:brightness(50);
        }
    }
    .modal_content {
        background: #E8E8E8;
        padding: 1em .5em;
        height:auto;
        position:absolute;
        bottom:5%;
        top:75px;
        width:96%;
        left: 2%;
        border: 1px solid #DDD;
        border-top: 1px solid #BBB;
        box-shadow: 5px 5px 8px RGBA(0, 0, 0, .15) inset;
        overflow-x: hidden !important;
        overflow-y: auto !important;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate3d(0, 0, 0);
        img {
            width: 100%;
            border: 1px solid #DDD;
            margin: .5em 0;
        }
    }
}
// @keyframes scaleUp {
//     0% {
//         transform: scale(1) translateY(0px);
//         opacity: 0;
//     }
//     100% {
//         transform: scale(1) translateY(0px);
//         opacity: 1;
//     }
// }
.modal_overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: RGBA(0, 0, 0, .75);
    z-index: 9999998;
}
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 18px;
    input { 
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .sliderSW{
            background-color: #5CB85C;
            &:before {
                -webkit-transform: translateX(12px);
                -ms-transform: translateX(12px);
                transform: translateX(12px);
            }
        }
        &:focus + .sliderSW {
            box-shadow: 0 0 1px #5CB85C;
        }
    }
    .sliderSW {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
        &:before {
            position: absolute;
            content: "";
            height: 12px;
            width: 12px;
            left: 4px;
            bottom: 3px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
    }
    
}

.exh_set_box_page{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
    +.fix_btngrp{
        @media screen and (max-width: 768px) {
            padding: 20px 10px;
            position: static;
            width: 96%;
            margin: 0 2% 3% 2%;
        }
    }
}
.exh_set_box{
    width: 46%;
    margin: 0 2% 3% 2%;
    padding: 15px;
    border-radius: 0.8em;
    box-shadow: 1px 2px 6px 0 rgba(0, 0, 0, 0.3);
    h3{
        font-size: 1.35em;
        font-weight: bold;
        color:#222;
        position: relative;
        .set_item{
            width:60px;
            position: absolute;
            top:5px;
            right:15px;
            .switch {
                width: 44px;
                input{
                    &:checked + .sliderSW{
                        &:before{
                            -webkit-transform: translateX(24px);
                            -ms-transform: translateX(24px);
                            transform: translateX(24px);
                        }
                    }
                }
            }
        }
        em{
            padding:0px 5px 1px 5px;
            border-bottom: 3px solid #2196F3;
            font-style:normal;
        }
    }
    @media screen and (max-width: 991px) {
        width: 46%;
        margin: 0 2% 4% 2%;
    }
    @media screen and (max-width: 767px) {
        width: 96%;
        margin: 0 2% 6% 2%;
    }
}


.exh_set_list{
    padding: 0 1em;
    ul{
        list-style: none;
        padding:0;
        li{
            position: relative;
            line-height: 1.25em;
            padding: 9px 60px 8px 0;
            border-bottom: 1px solid #e5e5e5;
            font-size: 1.15em;
            font-weight: bold;
            color: #333;
            .set_item{
                width:60px;
                position: absolute;
                top:7px;
                right:0px;
                .switch{
                    vertical-align:middle;
                }
                span.lock{
                    display: inline;
                    padding-left: 5px;
                    vertical-align:middle;
                    opacity: 0.25;
                    i{
                        margin: 0;
                        font-size: 0.89em;
                        &:before{
                            vertical-align:baseline;
                        }    
                    }
                } 
            }
        }
    }
    .set_item_details{
        padding: 0.5em 0 0.65em 2em;
        position: relative;
        span{
            font-size: 0.89em;
            line-height: 1.25em;
            display: inline-block;
            vertical-align: middle;
            color:#828282;
            &.num{
                padding:0 5px;
                color: #0870b6;
                font-weight: bold;
                margin-right: 5px;
                input[type="text"]{
                    border-radius: 4px;
                    border:1px solid #ccc;
                    width: 3em;
                    text-align: center;
                    padding:0.25em;
                    color: #0870b6;
                }
            }
            +.datepick{
                margin-left: 4em;
            }
        }
        .datepick{
            margin-left: 4em;
            display: inline-block;
            vertical-align: middle;
            @media screen and (max-width: 767px) {
                margin-left: 0em;
                display: block;
            }
            input{
                display: inline;
                width:auto;
                color:#666;
                border:1px solid #e5e5e5;
                font: 0.88em sans-serif;
                @media screen and (max-width: 767px) {
                        width: 90%;
                }
                @media screen and (max-width: 575px) {
                    width: 95%;
                }
            }
            button{
                width: auto;
                min-width: 20px;
                padding: 0.5em;
                background: none;
                border: none;
                margin-left: -2.65em;
                &:hover, &:focus{
                    background: none !important;
                    border: none !important;
                }
            }
            +.datepick{
                margin-left: 1em;
                @media screen and (max-width: 767px) {
                    margin-left: 0em;
                    display: block;
                }
            }
        }
        @media screen and (max-width: 767px) {
            padding: 0.5em 0 0.65em 0em;
        }
        .set_item{
            position: absolute;
            top:7px;
            right:-60px;
        }
        &.uck{
            span{
                color: #bbb !important;
            }        
        }
        .form_grp{
            margin-right: -60px;
            border:none !important;
            .form_title{
                width:150px;
                font-size: 0.89em;
                font-weight: normal;
                color: #828282;
            }
            .form_content{
                width: calc(100% - 150px);
                .sub_form_content{
                    input[type='text']{
                        border-radius: 4px;
                        border:1px solid #ccc;
                        font-size: 0.89em;
                        font-weight: normal;
                    }
                }
                @media screen and (max-width: 575px) {
                    width:100%;
                }
            }
        }
    }
}
.uncheck, .uncheck>em, .uncheck>li, .uncheck>div {
    color:#bbb !important;
}
.uncheck>div>span  {
    color:#bbb !important;
    border-color: #bbb !important;
}
.uncheck{
    .set_item_details{
        .datepick{
            input[type='text']{
                color: #c2c2c2;
                &:placeholder{
                    color: #c2c2c2;
                }
            }
        } 
       &.ck{
        span{
            color: #828282 !important;
        }        
       }
       &.uck{
            span{
                color: #bbb !important;
            }
            .datepick{
                input[type='text']{
                    color: #c2c2c2;
                    cursor: not-allowed;
                    &:placeholder{
                        color: #c2c2c2;
                    }
                }
            } 
        }
    }
} 

.w100{
    width: 96% !important;
    margin: 0 2% 3% 2% !important;
    .datepick{
        margin-left: 0em !important;
        margin-right:1em;
        @media screen and (max-width: 767px) {
            margin-left: 0em;
            display: block;
        }
        +.datepick{
            margin-left: 1em !important;
            @media screen and (max-width: 767px) {
                margin-left: 0em !important;
                display: block;
            }
        }
    }
    span+.datepick{
        margin-left: 4em !important;
    }
}